{
  "openapi": "3.0.0",
  "info": {
    "title": "Crypto Investor API",
    "description": "API for fetching cryptocurrency price, market and news information.",
    "contact": {
      "email": "api@cryptoinvestor.stram"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cryptoinvestor.stream/v1",
      "description": "CryptoInverstor.stream API"
    }
  ],
  "tags": [
    {
      "name": "private",
      "description": "Secured Admin-only calls"
    },
    {
      "name": "partners",
      "description": "Operations available to registered partners"
    },
    {
      "name": "public",
      "description": "Public accessable calls."
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/newsItem"
                }
              }
            }
          }
        },
        "operationId": "get-news",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "region",
            "description": "region or commaseperated list of regions to limit the results to"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "list of currencies to limit results for"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "number of news items to return"
          }
        ]
      }
    },
    "/currencies": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string"
                    },
                    "symbol": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 1,
                        "name": "Bitcoin",
                        "symbol": "BTC"
                      },
                      {
                        "id": 3,
                        "name": "Ethereum",
                        "symbol": "ETH"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-price",
        "description": "Returns a list of all supported currencies. Always use the id's gathered here to lookup data for specific currencies. "
      },
      "parameters": []
    },
    "/news/sources": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-news-sources"
      }
    },
    "/price/{symbol}/sparkline": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "symbol",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-price-symbol-sparkline"
      }
    },
    "/currencies/{id}/metadata": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currency-metadata"
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currency-metadata"
                }
              }
            }
          }
        },
        "operationId": "get-currencies-id-metadata",
        "description": "Retrun the metadata for selected currency",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "currency id to show the metadata for",
            "required": true
          }
        ]
      }
    },
    "/currencies/{id}/sparkline": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/priceSparkline"
                }
              }
            }
          }
        },
        "operationId": "get-currencies-id-sparkline",
        "description": "Get a price log of a currency for the specified timeframe and currency",
        "requestBody": {},
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d",
                "7d",
                "1m"
              ]
            },
            "in": "query",
            "name": "timeframe",
            "description": "timeframe to return the sparkline data for"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "currency id to return sparkline data for"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "start-time"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "end-time"
          }
        ]
      }
    },
    "/currencies/ticker": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "$ref": "#/components/schemas/price"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-currencies-ticker",
        "description": "Price and volume information for one or more currencies",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "required": true,
            "description": "Comma separated list of currencies IDs to filter result"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "convert",
            "description": "Currency to quote ticker price, market cap, and volume values. May be a Fiat Currency or Cryptocurrency. Default is USD"
          }
        ]
      }
    },
    "/exchanges": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "$ref": "#/components/schemas/exchange"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-exchanges",
        "description": "Get a list of supported exchnages"
      }
    },
    "/social/twitter": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {},
        "operationId": "get-social-twitter"
      }
    },
    "/market": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/market-metrics"
                }
              }
            }
          }
        },
        "operationId": "get-market-fcas",
        "description": "Returns the latest global cryptocurrency market metrics. Use the \"convert\" option to return market values in multiple fiat and cryptocurrency conversions in the same call."
      },
      "parameters": []
    },
    "/news/categories": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categories"
                }
              }
            }
          }
        },
        "operationId": "get-news-categories",
        "description": "Return a list of the available categories for news and social items."
      }
    }
  },
  "components": {
    "schemas": {
      "newsItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 23
          },
          "source": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "projects": {
            "$ref": "#/components/schemas/project"
          },
          "categories": {
            "$ref": "#/components/schemas/categories"
          },
          "tags": {
            "$ref": "#/components/schemas/tags"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "example": "https://www.newsbtc.com/2020/02/10/bitcoin-plunges-4-percent-bounces-back-10000-bull-trend-intact/"
          },
          "title": {
            "type": "string",
            "format": "byte"
          },
          "excerpt": {
            "type": "string",
            "format": "byte"
          },
          "full_article": {
            "type": "string",
            "format": "byte"
          },
          "publish_date": {
            "type": "string",
            "format": "date-time"
          },
          "sentiment": {
            "type": "string",
            "format": "byte"
          },
          "expert_level": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "tweets": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "source": {
            "$ref": "#/components/schemas/twitterSource"
          },
          "categories": {
            "$ref": "#/components/schemas/categories"
          },
          "projects": {
            "$ref": "#/components/schemas/project"
          },
          "tags": {
            "$ref": "#/components/schemas/tags"
          },
          "message": {
            "type": "string",
            "format": "byte"
          },
          "message_id": {
            "type": "integer",
            "format": "int64",
            "example": 1197150607519305700
          },
          "publish_date": {
            "type": "string",
            "format": "date-time"
          },
          "sentiment": {
            "type": "string",
            "format": "byte"
          },
          "retweet_count": {
            "type": "integer",
            "format": "int32",
            "example": 323
          },
          "favorite_count": {
            "type": "integer",
            "format": "int32",
            "example": 2332
          },
          "expert_level": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "twitterSource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 3
          },
          "username": {
            "type": "string",
            "format": "byte"
          },
          "region": {
            "type": "string",
            "format": "byte"
          },
          "bio": {
            "type": "string",
            "format": "byte"
          },
          "active": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "Returns all twitter sources crypto investor stream uses"
      },
      "tags": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "name": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "categories": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "name": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "newsSource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "name": {
            "type": "string",
            "format": "byte"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "www.newsbtc.com"
          }
        }
      },
      "project": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 3
          },
          "name": {
            "type": "string",
            "format": "byte"
          },
          "image-url": {
            "type": "string",
            "format": "uri",
            "example": "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg"
          },
          "bio_short": {
            "type": "string",
            "format": "byte"
          },
          "bio_long": {
            "type": "string",
            "format": "byte"
          },
          "hq_location": {
            "type": "string",
            "format": "byte"
          },
          "platform": {
            "type": "integer",
            "format": "int32",
            "example": 23
          },
          "platform-token-address": {
            "type": "string",
            "format": "byte"
          }
        },
        "title": ""
      },
      "price": {
        "type": "object",
        "description": "",
        "properties": {
          "project_id": {
            "type": "integer"
          },
          "symbol": {
            "type": "string"
          },
          "price_change_pct_1m": {
            "type": "number"
          },
          "price_change_pct_2m": {
            "type": "number"
          },
          "price_change_pct_3m": {
            "type": "number"
          },
          "price_change_pct_4m": {
            "type": "number"
          },
          "price_change_pct_5m": {
            "type": "number"
          },
          "price_change_pct_10m": {
            "type": "number"
          },
          "price_change_pct_15m": {
            "type": "number"
          },
          "price_change_pct_30m": {
            "type": "number"
          },
          "price_change_pct_1h": {
            "type": "number"
          },
          "price_change_pct_4h": {
            "type": "number"
          },
          "price_change_pct_1d": {
            "type": "number"
          },
          "price_change_pct_7d": {
            "type": "number"
          },
          "price_change_pct_30d": {
            "type": "number"
          },
          "open_day": {
            "type": "number"
          },
          "high_day": {
            "type": "number"
          },
          "low_day": {
            "type": "number"
          },
          "open_24h": {
            "type": "number"
          },
          "high_24": {
            "type": "number"
          },
          "low_24h": {
            "type": "number"
          },
          "open_hour": {
            "type": "number"
          },
          "high_hour": {
            "type": "number"
          },
          "low_hour": {
            "type": "number"
          },
          "volume_hour": {
            "type": "number"
          },
          "volume_24h": {
            "type": "number"
          },
          "last_update": {
            "type": "string"
          },
          "price": {
            "type": "string"
          }
        }
      },
      "fearAndGreed": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "format": "int32",
            "example": 23
          },
          "value_classification": {
            "type": "string",
            "format": "byte"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "priceSparkline": {
        "title": "priceSparkline",
        "type": "object",
        "properties": {
          "itimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "price_usd": {
            "type": "number"
          }
        }
      },
      "exchange": {
        "title": "exchange",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "volume_24h": {
            "type": "number"
          },
          "volumen_7d": {
            "type": "number"
          },
          "volume_30d": {
            "type": "number"
          },
          "volume_24_change_percent": {
            "type": "number"
          },
          "volume_7d_change_percent": {
            "type": "number"
          },
          "volume_30d_change_percent": {
            "type": "number"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "fees": {
            "type": "string",
            "format": "uri"
          },
          "telegram": {
            "type": "string",
            "format": "uri"
          },
          "twitter": {
            "type": "string",
            "format": "uri"
          },
          "blog": {
            "type": "string",
            "format": "uri"
          },
          "active": {
            "type": [
              "string",
              "boolean"
            ]
          },
          "last_update": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "fcas": {
        "title": "fcas",
        "type": "object",
        "properties": {
          "project_id": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "score": {
            "type": "integer"
          },
          "grade": {
            "type": "integer"
          }
        },
        "description": "FCAS ratings for all available currencies"
      },
      "currencies": {
        "title": "currencies",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "circulating_supply": {
            "type": "string"
          },
          "total_supply": {
            "type": "string"
          },
          "max_supply": {
            "type": "string"
          },
          "ath_usd": {
            "type": "string"
          },
          "marketcap_usd": {
            "type": "string"
          },
          "project": {
            "$ref": "#/components/schemas/project"
          }
        }
      },
      "market-volume": {
        "title": "volume",
        "type": "object",
        "properties": {
          "total_market_cap": {
            "type": "string"
          },
          "total_volume_24h": {
            "type": "string"
          },
          "total_volume_24h_reported": {
            "type": "string"
          },
          "altcoin_volume_24h": {
            "type": "string"
          },
          "altcoin_volume_24h_reported": {
            "type": "string"
          }
        },
        "description": "Market volume metrics represented in USD",
        "x-examples": {}
      },
      "communities": {
        "title": "communities",
        "type": "object",
        "properties": {
          "currency_id": {
            "type": "integer"
          },
          "link-type": {
            "type": "string",
            "enum": [
              "discord",
              "telegram",
              "facebook",
              "forum",
              "medium",
              "slack",
              "twitter",
              "reddit",
              "bitcoin-talk",
              "instagram"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "description": "Return the communities related to the currency"
      },
      "links": {
        "title": "links",
        "type": "object",
        "properties": {
          "currency_id": {
            "type": "string"
          },
          "link_type": {
            "type": "string",
            "enum": [
              "website",
              "email",
              "explorer",
              "whitepaper",
              "wallet",
              "github",
              "announcement",
              "bounty-program"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "description": "Returns links related to the currency"
      },
      "currency-metadata": {
        "title": "currency-metadata",
        "type": "object",
        "properties": {
          "currency_id": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "bio_short": {
            "type": "string"
          },
          "bio_long": {
            "type": "string"
          },
          "bio_keywords": {
            "type": "string"
          },
          "hq_location": {
            "type": "string"
          },
          "vertical_types": {
            "type": "array",
            "items": {}
          },
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "communities": {
            "$ref": "#/components/schemas/communities"
          }
        },
        "description": "Returns the metadata for a list of specific currency"
      },
      "market-metrics": {
        "title": "market-metrics",
        "type": "object",
        "properties": {
          "fear-and-greed": {
            "type": "string"
          },
          "btc-dominance": {
            "type": "string"
          },
          "eth-dominance": {
            "type": "string"
          },
          "quote": {
            "type": "object",
            "description": "",
            "properties": {
              "quote_currency": {
                "type": "object",
                "properties": {
                  "total_marketcap": {
                    "type": "number"
                  },
                  "total_volume_24h": {
                    "type": "number"
                  },
                  "altcoin_volume_24h": {
                    "type": "number"
                  },
                  "altcoin_marketcap": {
                    "type": "number"
                  },
                  "last_update": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "description": ""
      }
    },
    "securitySchemes": {
      "api_key": {
        "name": "API Key",
        "type": "apiKey",
        "in": "query"
      },
      "API-KEY": {
        "name": "API Key",
        "type": "apiKey",
        "in": "header"
      }
    }
  }
}