{
  "openapi": "3.0.0",
  "info": {
    "title": "Crypto Investor API",
    "description": "API for fetching cryptocurrency price, market and news information.",
    "contact": {
      "email": "api@cryptoinvestor.stram",
      "name": "Crypto Investor Stream API Team"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "termsOfService": "https://cryptoinvestor.stream/terms"
  },
  "servers": [
    {
      "url": "https://api.cryptoinvestor.stream/v1",
      "description": "CryptoInverstor.stream API"
    }
  ],
  "tags": [
    {
      "name": "private",
      "description": "Secured Admin-only calls"
    },
    {
      "name": "partners",
      "description": "Operations available to registered partners"
    },
    {
      "name": "public",
      "description": "Public accessable calls."
    }
  ],
  "paths": {
    "/currencies": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "example": 45
                    },
                    "name": {
                      "type": "string",
                      "example": "Bitcoin"
                    },
                    "symbol": {
                      "type": "string",
                      "example": "BTC"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 1,
                        "name": "Bitcoin",
                        "symbol": "BTC"
                      },
                      {
                        "id": 3,
                        "name": "Ethereum",
                        "symbol": "ETH"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-price",
        "description": "Returns a list of all supported currencies. Always use the id's gathered here to lookup data for specific currencies. "
      },
      "parameters": []
    },
    "/currencies/{id}/sparkline": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "operationId": "get-currencies-id-sparkline",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "1d",
                "7d",
                "1m"
              ]
            },
            "in": "query",
            "name": "timeframe",
            "description": "timeframe to return the sparkline data for",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "currency id to return sparkline data for",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "start-time",
            "description": "Start time of the interval in RFC3339 (URI escaped)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "end-time",
            "description": "End time of the interval in RFC3339 (URI escaped). If not provided, the current time is used.\n\n"
          }
        ],
        "requestBody": {},
        "description": "Get historic price of a currency for the specified timeframe and currency",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamps": {
                      "type": "array",
                      "description": "List of timestamps",
                      "uniqueItems": false,
                      "minItems": 1,
                      "items": {
                        "type": "string"
                      }
                    },
                    "prices": {
                      "type": "array",
                      "description": "array of prices in default: USD",
                      "examples": "[12323.23233,12323.23233]",
                      "items": {
                        "type": "number"
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency symbol",
                      "example": "BTC"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Currency id",
                      "format": "int32",
                      "example": 1
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "currency": "BTC",
                        "id": 1,
                        "timestamps": [
                          "2018-04-03T16:00:00Z",
                          "2018-04-03T16:00:00Z"
                        ],
                        "prices": [
                          "7436.82313",
                          "7436.82313"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencies/ticker": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "symbol": {
                      "type": "string",
                      "format": "byte"
                    },
                    "price": {
                      "type": "number",
                      "format": "float"
                    },
                    "price_date": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "circulating_supply": {
                      "type": "number",
                      "format": "float"
                    },
                    "max_supply": {
                      "type": "number",
                      "format": "float"
                    },
                    "logo_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "market_cap": {
                      "type": "number",
                      "format": "float"
                    },
                    "rank": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "ath": {
                      "type": "number",
                      "format": "float"
                    },
                    "ath_timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "timeframe": {
                      "type": "object",
                      "properties": {
                        "price_change": {
                          "type": "number",
                          "format": "float"
                        },
                        "price_change_pct": {
                          "type": "number",
                          "format": "float"
                        },
                        "volume": {
                          "type": "number",
                          "format": "float"
                        },
                        "volume_change_pct": {
                          "type": "number",
                          "format": "float"
                        },
                        "marketcap_change": {
                          "type": "number",
                          "format": "float"
                        },
                        "marketcap_change_pct": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "BTC",
                      "price": "8451.36516421",
                      "price_date": "2019-06-14",
                      "symbol": "BTC",
                      "circulating_supply": "17758462",
                      "max_supply": "21000000",
                      "name": "Bitcoin",
                      "logo_url": "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg",
                      "market_cap": "150083247116.70",
                      "rank": "1",
                      "high": "19404.81116899",
                      "high_timestamp": "2017-12-16",
                      "1d": {
                        "price_change": "269.75208019",
                        "price_change_pct": "0.03297053",
                        "volume": "1110989572.04",
                        "volume_change": "-24130098.49",
                        "volume_change_pct": "-0.02",
                        "market_cap_change": "4805518049.63",
                        "market_cap_change_pct": "0.03"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-currencies-ticker",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "required": true,
            "description": "Comma separated list of currencies IDs to filter result"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "convert",
            "description": "Currency to quote ticker price, market cap, and volume values. May be a Fiat Currency or Cryptocurrency. Default is USD"
          }
        ],
        "description": "Price and volume information for one or more currencies"
      }
    },
    "/market": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/market-metrics"
                },
                "examples": {
                  "example": {
                    "value": {
                      "btc_dominace": "",
                      "eth_dominance": "",
                      "fear-and-greed-index": {
                        "value": "987",
                        "value_classification": "A",
                        "timestamp": "2019-12-16T18:47:00.000Z"
                      },
                      "last_update": "2019-05-16T18:47:00.000Z",
                      "quote": {
                        "USD": {
                          "total_market_cap": 250385096532.124,
                          "total_volume_24h": 119270642406.968,
                          "total_volume_24h_reported": 1514905418.39087,
                          "altcoin_volume_24h": 119270642406.968,
                          "altcoin_volume_24h_reported": 1514905418.39087,
                          "altcoin_market_cap": 250385096532.124,
                          "last_updated": "2019-05-16T18:47:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-market-fcas",
        "description": "Returns the latest global cryptocurrency market metrics. Use the \"convert\" option to return market values in multiple fiat and cryptocurrency conversions in the same call.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "convert",
            "description": "The currency to convert the default USD values to. Must be a Fiat currency. Use the /conversion-rates endpoint to check which currencies are available"
          }
        ]
      },
      "parameters": []
    },
    "/exchanges": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "$ref": "#/components/schemas/exchange"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "2",
                        "name": "Binance",
                        "description": "Binance is a global cryptocurrency exchange that provides a platform for trading more than 100 cryptocurrencies. Since early 2018, Binance is considered as the biggest cryptocurrency exchange in the world in terms of trading volume",
                        "region": "eu",
                        "country": "Malta",
                        "volume_24h": "236797947.38",
                        "volume_7d": "4334436797947.38",
                        "volume_30d": "34343433797947.38",
                        "volume_24h_change_pct": "1.5563",
                        "volume_7d_change_pct": "2.3343",
                        "volume_30d_change_pct": "3.2333",
                        "blog": "http://binance.com/blog",
                        "twitter": "http://twitter.com/binance",
                        "telegram": "https://t.me/binanceexchange",
                        "fees": "https://www.binance.com/en/fee/schedule",
                        "website": "https://www.binance.com"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-exchanges",
        "description": "Get a list of supported exchnages",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "convert",
            "description": "Currency to convert the volume to. Check the /conversion-rates endpoint to check the available currencies to convert to. "
          }
        ]
      }
    },
    "/social/twitter": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tweets"
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "",
                      "source": {
                        "id": "",
                        "name": ""
                      },
                      "projects": [
                        {
                          "id": "2",
                          "symbol": "ETH",
                          "name": "Ethereum"
                        },
                        {
                          "id": "1",
                          "symbol": "BTC",
                          "name": "Bitcoin"
                        }
                      ],
                      "categories": [
                        {
                          "id": "1",
                          "name": "Project news"
                        },
                        {
                          "id": "2",
                          "name": "Regulation"
                        }
                      ],
                      "exchanges": [
                        {
                          "id": "1",
                          "name": "Binance"
                        }
                      ],
                      "tags": [
                        {
                          "id": "1",
                          "name": "stablecoins"
                        }
                      ],
                      "message": "At #Crypto Center we are looking for franchisees with an entrepreneurial &amp; managerial spirit, a strong sense of interpersonal skills. #Franchisees who know how to train &amp; motivate their employees, driven by passion.In-depth :play_button: https://t.co/4H6I2jh1tx#Peculium #invest #success https://t.co/4ykvMnydEj",
                      "message_id": "12123123344555",
                      "publish_date": "2018-07-05T15:00:00Z",
                      "sentiment": "POSITIVE",
                      "retweet_count": "121",
                      "favorite_count": "2323",
                      "expert_level": "PRO",
                      "link": "https://www.newsbtc.com/2020/02/13/okex-btcusd-options-registers-trading-volume-of-usd175-6m-volume-in-its-very-first-month/",
                      "title": "OKEx BTCUSD Options Registers Trading Volume of USD175.6M Volume in its Very First Month",
                      "excerpt": "The leading cryptocurrency and digital asset trading platform OKEx is having a great run as it continues to provide world-class trading products for the global crypto community. The recently launched BTCUSD options trading feature on the platform is reported to have garnered volumes of around $176 million within a span of one month. The figures..."
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-social-twitter",
        "description": "Return a list of twitter messsages",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "region",
            "description": "region for which to return twitter messages from"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "Currency ids to limit the results to"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "limit",
            "description": "Number of twitter message to return"
          }
        ]
      }
    },
    "/news/categories": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categories"
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "1",
                        "name": "adoptation"
                      },
                      {
                        "id": "2",
                        "name": "analysis"
                      },
                      {
                        "id": "3",
                        "name": "exchange listing"
                      }
                    ]
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "$ref": "#/components/schemas/categories"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "1",
                        "name": "adoptation"
                      },
                      {
                        "id": "2",
                        "name": "analysis"
                      },
                      {
                        "id": "3",
                        "name": "exchange listing"
                      }
                    ]
                  }
                }
              }
            },
            "description": ""
          }
        },
        "operationId": "get-news-categories",
        "description": "Return a list of the available categories for news and social items."
      }
    },
    "/news/tags": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/news-tags"
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "1",
                        "name": "stablecoins"
                      },
                      {
                        "id": "2",
                        "name": "security"
                      },
                      {
                        "id": "3",
                        "name": "malware"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-news-tags",
        "description": "Return a list of tags which can be used. "
      }
    },
    "/news": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/newsItem"
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "2332",
                      "source": {
                        "id": "",
                        "name": "",
                        "url": ""
                      },
                      "projects": [
                        {
                          "id": "2",
                          "symbol": "ETH",
                          "name": "Ethereum"
                        },
                        {
                          "id": "1",
                          "symbol": "BTC",
                          "name": "Bitcoin"
                        }
                      ],
                      "categories": [
                        {
                          "id": "1",
                          "name": "Project news"
                        },
                        {
                          "id": "2",
                          "name": "Regulation"
                        }
                      ],
                      "news-tags": [
                        {
                          "id": "1",
                          "name": "stablecoins"
                        }
                      ],
                      "link": "https://www.newsbtc.com/2020/02/13/okex-btcusd-options-registers-trading-volume-of-usd175-6m-volume-in-its-very-first-month/",
                      "title": "OKEx BTCUSD Options Registers Trading Volume of USD175.6M Volume in its Very First Month",
                      "excerpt": "The leading cryptocurrency and digital asset trading platform OKEx is having a great run as it continues to provide world-class trading products for the global crypto community. The recently launched BTCUSD options trading feature on the platform is reported to have garnered volumes of around $176 million within a span of one month. The figures...",
                      "publish_date": "2018-07-05T15:00:00Z",
                      "sentiment": "POSITIVE",
                      "expert_level": "PRO",
                      "region": "en"
                    }
                  }
                }
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "operationId": "get-news",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "region",
            "description": "region or commaseperated list of regions to limit the results to"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "list of currencies to limit results for"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "number of news items to return"
          }
        ],
        "description": "Return a list of the latest news items, limit to currencties, region or amount of news items. "
      }
    },
    "/news/sources": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "$ref": "#/components/schemas/newsSource"
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "2",
                        "name": "NewsBTC",
                        "url": "https://www.newsbtc.com/"
                      },
                      {
                        "id": "4",
                        "name": "Trustnodes",
                        "url": "https://www.trustnodes.com/"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-news-sources",
        "description": "Return a list of news sources. "
      }
    }
  },
  "components": {
    "schemas": {
      "newsItem": {
        "type": "object",
        "title": "",
        "description": "",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/newsSource"
          },
          "currencies": {
            "description": "list of projects the newsitems related to",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "example": 2,
                  "description": "id of the currency"
                },
                "name": {
                  "type": "string",
                  "example": "bitcoin",
                  "description": "name of the currency"
                },
                "symbol": {
                  "type": "string",
                  "example": "BTC",
                  "description": "symbol of the currency"
                }
              }
            }
          },
          "categories": {
            "$ref": "#/components/schemas/categories"
          },
          "news-tags": {
            "$ref": "#/components/schemas/news-tags"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "example": "https://www.newsbtc.com/2020/02/10/bitcoin-plunges-4-percent-bounces-back-10000-bull-trend-intact/",
            "description": "Link to the newsitems"
          },
          "title": {
            "type": "string",
            "description": "Title of the newsitem",
            "example": "This Bitcoin Metric Is Over 100% Higher in 2 Months, and It’s Critical for Bulls"
          },
          "excerpt": {
            "type": "string",
            "description": "excerpt of the newsitem",
            "example": "Over the past 60 days, Bitcoin has found itself rocketing higher, rallying from a low of $6,400 to a local top of $10,500 in the span of two months."
          },
          "full_article": {
            "type": "string",
            "description": "text of the full article if available",
            "example": "Over the past few years, as institutional traders and more serious players have entered the Bitcoin market, the demand for future derivatives for the cryptocurrency has exploded.  This was confirmed with a report from industry outlet The Block.  They reported that as of February 13th, the aggregated amount of open interest on Bitcoin futures contracts surpassed $5 billion, with traders on BitMEX, OKEx, Bakkt, CME, and other key platforms throwing billions of dollars at the asset.  This is far above the approximately $4 billion in open interest seen in January of the $2.5 billion in December."
          },
          "publish_date": {
            "type": "string",
            "description": "publish date of the newsitem",
            "format": "date-time",
            "example": "2019-05-16T18:47:00.000Z"
          },
          "sentiment": {
            "type": "string",
            "description": "sentiment of the news item",
            "example": "POSITIVE"
          },
          "expert_level": {
            "type": "string",
            "description": "Audience expert level for which the newsitem is best suited",
            "example": "PRO"
          },
          "region": {
            "type": "string",
            "description": "language of the article",
            "example": "en"
          }
        }
      },
      "tweets": {
        "type": "object",
        "x-examples": {
          "example": {
            "id": "",
            "source": {
              "id": "",
              "name": ""
            },
            "projects": [
              {
                "id": "2",
                "symbol": "ETH",
                "name": "Ethereum"
              },
              {
                "id": "1",
                "symbol": "BTC",
                "name": "Bitcoin"
              }
            ],
            "categories": [
              {
                "id": "1",
                "name": "Project news"
              },
              {
                "id": "2",
                "name": "Regulation"
              }
            ],
            "exchanges": [
              {
                "id": "1",
                "name": "Binance"
              }
            ],
            "tags": [
              {
                "id": "1",
                "name": "stablecoins"
              }
            ],
            "message": "At #Crypto Center we are looking for franchisees with an entrepreneurial &amp; managerial spirit, a strong sense of interpersonal skills. #Franchisees who know how to train &amp; motivate their employees, driven by passion.In-depth :play_button: https://t.co/4H6I2jh1tx#Peculium #invest #success https://t.co/4ykvMnydEj",
            "message_id": "12123123344555",
            "publish_date": "2018-07-05T15:00:00Z",
            "sentiment": "POSITIVE",
            "retweet_count": "121",
            "favorite_count": "2323",
            "expert_level": "PRO",
            "link": "https://www.newsbtc.com/2020/02/13/okex-btcusd-options-registers-trading-volume-of-usd175-6m-volume-in-its-very-first-month/",
            "title": "OKEx BTCUSD Options Registers Trading Volume of USD175.6M Volume in its Very First Month",
            "excerpt": "The leading cryptocurrency and digital asset trading platform OKEx is having a great run as it continues to provide world-class trading products for the global crypto community. The recently launched BTCUSD options trading feature on the platform is reported to have garnered volumes of around $176 million within a span of one month. The figures..."
          }
        },
        "properties": {
          "source": {
            "$ref": "#/components/schemas/twitterSource"
          },
          "categories": {
            "$ref": "#/components/schemas/categories"
          },
          "projects": {
            "$ref": "#/components/schemas/project"
          },
          "news-tags": {
            "$ref": "#/components/schemas/news-tags"
          },
          "message": {
            "type": "string",
            "description": "message text of the tweet",
            "example": "Crypto is very busy and many people just don’t have any time to learn about projects. Many are skeptical.Ravencoin has a different structure than most projects in that no one owns or controls it. This means the only way to hear about it is from other users."
          },
          "message_id": {
            "type": "integer",
            "description": "Twitter message id",
            "format": "int64",
            "example": "1197145520042631170"
          },
          "publish_date": {
            "type": "string",
            "description": "Publish date of the tweet",
            "format": "date-time",
            "example": "2018-05-14T00:04:31Z"
          },
          "sentiment": {
            "type": "string",
            "description": "sentiment of the tweet",
            "example": "NEUTRAL"
          },
          "retweet_count": {
            "type": "integer",
            "format": "int32",
            "example": 323,
            "description": "retweet count for the tweet"
          },
          "favorite_count": {
            "type": "integer",
            "format": "int32",
            "example": 2332,
            "description": "favorite count for the tweet"
          },
          "expert_level": {
            "type": "string",
            "description": "Audience expert level for the tweet content",
            "example": "PRO"
          }
        }
      },
      "twitterSource": {
        "type": "object",
        "description": "Returns all twitter sources crypto investor stream uses",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 3,
            "description": "id of the twitter source"
          },
          "username": {
            "type": "string",
            "example": "@binance",
            "description": "twiter username of the twitters source"
          },
          "region": {
            "type": "string",
            "example": "EN",
            "description": "region of the source"
          },
          "bio": {
            "type": "string",
            "example": "Binance is the biggest exchange in the altcoin space",
            "description": "description of the twitter source"
          },
          "active": {
            "type": "boolean",
            "example": "true",
            "description": "status of the twitter source"
          }
        }
      },
      "news-tags": {
        "type": "object",
        "x-examples": {
          "example": [
            {
              "id": 1,
              "name": "stablecoins"
            },
            {
              "id": 2,
              "name": "security"
            },
            {
              "id": 3,
              "name": "malware"
            }
          ]
        },
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2,
            "description": "id of the tag"
          },
          "name": {
            "type": "string",
            "description": "name of the tag",
            "example": "stablecoins"
          }
        }
      },
      "categories": {
        "type": "object",
        "x-examples": {
          "example": [
            {
              "id": "1",
              "name": "adoptation"
            },
            {
              "id": "2",
              "name": "analysis"
            },
            {
              "id": "3",
              "name": "exchange listing"
            }
          ]
        },
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2,
            "description": "id for the category"
          },
          "name": {
            "type": "string",
            "description": "Name of the category",
            "example": "analysis"
          }
        }
      },
      "newsSource": {
        "type": "object",
        "x-examples": {
          "example": [
            {
              "id": 2,
              "name": "NewsBTC",
              "url": "https://www.newsbtc.com/"
            },
            {
              "id": 4,
              "name": "Trustnodes",
              "url": "https://www.trustnodes.com/"
            }
          ]
        },
        "properties": {
          "name": {
            "type": "string",
            "example": "NewsBTC",
            "description": "name of the news source"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "http://www.newsbtc.com",
            "description": "url of the news source"
          },
          "id": {
            "type": "integer",
            "description": "id of the news source",
            "example": "32"
          }
        }
      },
      "project": {
        "type": "object",
        "title": "",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 3,
            "description": "project id"
          },
          "name": {
            "type": "string",
            "description": "project name",
            "example": "Ethereum"
          },
          "image-url": {
            "type": "string",
            "example": "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg",
            "description": "link to the logo url for the project"
          },
          "bio_short": {
            "type": "string",
            "description": "Short description of the project",
            "example": "Ethereum is an open source, public, blockchain-based distributed computing platform and operating system featuring smart contract functionality."
          },
          "bio_long": {
            "type": "string",
            "description": "Long description of the project",
            "example": "Ethereum is an open source, public, blockchain-based distributed computing platform and operating system featuring smart contract functionality. It supports a modified version of Nakamoto consensus via transaction-based state transitions"
          },
          "hq_location": {
            "type": "string",
            "description": "Location of the project headquaters",
            "example": "Toronto"
          },
          "platform": {
            "type": "integer",
            "format": "int32",
            "example": 23,
            "description": "Platform the project is built on"
          },
          "platform-token-address": {
            "type": "string",
            "description": "Address of the project on the platform it is build on. ",
            "example": "qewqweqwds23qwe3423e"
          }
        },
        "required": [
          "id"
        ]
      },
      "fearAndGreed": {
        "type": "object",
        "x-examples": {
          "example-1": {
            "value": "987",
            "value_classification": "A",
            "last_update": "2019-12-16T18:47:00.000Z"
          }
        },
        "properties": {
          "value": {
            "type": "integer",
            "description": "Fear and greed index value",
            "format": "int32",
            "example": "63"
          },
          "value_classification": {
            "type": "string",
            "description": "Classification for the fear and greed value",
            "example": "FEAR"
          },
          "last_update": {
            "type": "string",
            "description": "Time of the last update",
            "format": "date-time",
            "example": "2018-11-08T22:18:00.000Z"
          }
        }
      },
      "priceSparkline": {
        "title": "priceSparkline",
        "type": "object",
        "properties": {
          "price_usd": {
            "type": "number",
            "format": "float",
            "example": "1024.15",
            "description": "Price in USD"
          },
          "itimestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2019-05-16T18:47:00.000Z"
          }
        }
      },
      "exchange": {
        "title": "exchange",
        "type": "object",
        "x-examples": {
          "example": [
            {
              "id": "2",
              "name": "Binance",
              "description": "Binance is a global cryptocurrency exchange that provides a platform for trading more than 100 cryptocurrencies. Since early 2018, Binance is considered as the biggest cryptocurrency exchange in the world in terms of trading volume",
              "region": "eu",
              "country": "Malta",
              "volume": {
                "USD": {
                  "volume_24h": "236797947.38",
                  "volume_7d": "4334436797947.38",
                  "volume_30d": "34343433797947.38",
                  "volume_24h_change_pct": "1.5563",
                  "volume_7d_change_pct": "2.3343",
                  "volume_30d_change_pct": "3.2333"
                }
              },
              "blog": "http://binance.com/blog",
              "twitter": "http://twitter.com/binance",
              "telegram": "https://t.me/binanceexchange",
              "fees": "https://www.binance.com/en/fee/schedule",
              "website": "https://www.binance.com"
            }
          ]
        },
        "description": "",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": "23",
            "description": "id of the exchange"
          },
          "name": {
            "type": "string",
            "example": "Binance",
            "description": "Name of the exchange"
          },
          "region": {
            "type": "string",
            "example": "EU",
            "description": "Region in which the exchange operates"
          },
          "country": {
            "type": "string",
            "example": "Malta",
            "description": "Country where the exchange is located"
          },
          "active": {
            "type": "boolean",
            "example": "true",
            "description": "Is the exchange active"
          },
          "last_update": {
            "type": "string",
            "format": "date-time",
            "example": "2020-02-11T22:04:01.727Z",
            "description": "Time of the last update of the exchange information"
          },
          "blog": {
            "type": "string",
            "format": "uri",
            "example": "https://www.binance.com/blog",
            "description": "Link to the blog of the exchange"
          },
          "twitter": {
            "type": "string",
            "format": "uri",
            "example": "http://www.twitter.com/binance",
            "description": "Link to the twitter account for the exchange"
          },
          "telegram": {
            "type": "string",
            "format": "uri",
            "example": "https://t.me/binanceexchange",
            "description": "Limk to the telegram channel for the exchange"
          },
          "fees": {
            "type": "string",
            "format": "uri",
            "example": "https://www.binance.com/en/fee/schedule",
            "description": "Link to the fees page of the exchange"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "example": "https://www.bitcoin.com",
            "description": "Link to the website of the exchange"
          },
          "rank": {
            "type": "integer",
            "format": "int32",
            "example": "1",
            "description": "Rank of the exchange based on adjusted volume"
          },
          "volume": {
            "type": "object",
            "description": "Volume information for the exchange",
            "properties": {
              "quote_currency": {
                "type": "object",
                "example": "USD",
                "description": "Quote currency for the volume information. Use the convert query parameter to convert to a different currency",
                "properties": {
                  "volume_24h": {
                    "type": "number",
                    "format": "float",
                    "example": "769291636.239632",
                    "description": "24 hour volume"
                  },
                  "volume_7d": {
                    "type": "number",
                    "format": "float",
                    "example": "3666423776",
                    "description": "7 day volume"
                  },
                  "volume_30d": {
                    "type": "number",
                    "format": "float",
                    "example": "21338299776",
                    "description": "30 day volume"
                  },
                  "volume24h_change_percent": {
                    "type": "number",
                    "format": "float",
                    "example": "-11.6153",
                    "description": "Percentage change in 24 hour volume"
                  },
                  "volume_7d_change_percent": {
                    "type": "number",
                    "format": "float",
                    "example": "67.2055",
                    "description": "Percentage change in 7 days volume"
                  },
                  "volume_30d_change_percent": {
                    "type": "number",
                    "format": "float",
                    "example": "0.00169339",
                    "description": "Percentage change in 30 days volume"
                  }
                }
              }
            }
          }
        }
      },
      "fcas": {
        "title": "fcas",
        "type": "object",
        "description": "FCAS ratings for all available currencies",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Currency id",
            "format": "int32",
            "example": "23"
          },
          "last_update": {
            "type": "string",
            "format": "date-time",
            "example": "2018-11-08T22:18:00.000Z",
            "description": "Time of the last update"
          },
          "score": {
            "type": "integer",
            "example": "788",
            "minimum": 1,
            "maximum": 1000,
            "description": "FCAS Score for the currency"
          },
          "grade": {
            "type": "string",
            "format": "int32",
            "example": "A",
            "pattern": "[A-Z]",
            "description": "FCAS grade for the currency"
          },
          "currency": {
            "type": "string",
            "description": "Currency symbol",
            "example": "BTC",
            "minLength": 2,
            "maxLength": 6,
            "pattern": "[A-Za-z0-9]"
          }
        }
      },
      "market-metrics": {
        "title": "market-metrics",
        "type": "object",
        "description": "",
        "x-examples": {
          "example": {
            "btc_dominace": "",
            "eth_dominance": "",
            "fear-and-greed-index": {
              "value": 987,
              "value_classification": "A",
              "timestamp": "2019-12-16T18:47:00.000Z"
            },
            "last_update": "2019-05-16T18:47:00.000Z",
            "quote": {
              "USD": {
                "total_market_cap": 250385096532.124,
                "total_volume_24h": 119270642406.968,
                "total_volume_24h_reported": 1514905418.39087,
                "altcoin_volume_24h": 119270642406.968,
                "altcoin_market_cap": 250385096532.124,
                "last_updated": "2019-05-16T18:47:00.000Z"
              }
            }
          }
        },
        "properties": {
          "quote": {
            "type": "object",
            "description": "",
            "properties": {
              "quote_currency": {
                "type": "object",
                "description": "Market data in quoted currency",
                "properties": {
                  "total_marketcap": {
                    "type": "number",
                    "description": "Total marketcap in quoted currency",
                    "format": "float",
                    "example": "250385096532.124"
                  },
                  "total_volume_24h": {
                    "type": "number",
                    "description": "Total 24 hour volume in quote currency",
                    "format": "float",
                    "example": "119270642406.968"
                  },
                  "altcoin_volume_24h": {
                    "type": "number",
                    "description": "24h altcoin volume in quoted currency",
                    "format": "float",
                    "example": "119270642406.968"
                  },
                  "altcoin_marketcap": {
                    "type": "number",
                    "description": "Total altcoin marketcap in quoted volume",
                    "format": "float",
                    "example": "250385096532.124"
                  },
                  "last_update": {
                    "type": "string",
                    "description": "Last update of the market information",
                    "format": "date-time",
                    "example": "2019-05-16T18:47:00.000Z"
                  }
                }
              }
            }
          },
          "eth-dominance": {
            "type": "number",
            "format": "float",
            "example": "9.02205",
            "description": "Ethereum dominance"
          },
          "btc-dominance": {
            "type": "number",
            "format": "float",
            "example": "67.0057",
            "description": "Bitcoin dominance"
          },
          "fear-and-greed": {
            "$ref": "#/components/schemas/fearAndGreed"
          }
        }
      },
      "currency-metadata": {
        "title": "currency-metadata",
        "type": "object",
        "description": "Returns the metadata for a list of specific currency",
        "x-examples": {
          "example": {
            "id": "1",
            "symbol": "BTC",
            "logo_url": "https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg",
            "bio_short": "Bitcoin is a cryptocurrency.",
            "bio_long": "Bitcoin is a cryptocurrency. It is a decentralized digital currency",
            "bio_keywords": "BTC,Bitcoin",
            "hq_location": "Malta",
            "vertical_types": {
              "id": "269.75208019",
              "name": "0.03297053",
              "description": "1110989572.04"
            },
            "communities": [
              {
                "type": "twitter",
                "url": "http://www.twitter.com/bitcoin"
              },
              {
                "type": "discord",
                "url": "http://www.discord.com/bitcoin"
              }
            ],
            "links": [
              {
                "type": "website",
                "url": "http://www.bitcoin.com"
              },
              {
                "type": "website",
                "url": "http://www.bitcoin.com"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "integer",
            "example": "23",
            "description": "Currency id"
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "example": "https://s3.us-east-2.amazonaws.com/cryptoinvestorstream/static/images/currencies/btc.svg",
            "description": "Link to the logo of the currency"
          },
          "bio_short": {
            "type": "string",
            "example": "Bitcoin (BTC) is a consensus network that enables a new payment system and a completely digital currency.",
            "description": "Short description of the currency"
          },
          "bio_long": {
            "type": "string",
            "example": "Bitcoin (BTC) is a consensus network that enables a new payment system and a completely digital currency. Powered by its users, it is a peer to peer payment network that requires no central authority to operate. On October 31st, 2008, an individual or group of individuals operating under the pseudonym \"Satoshi Nakamoto\" published the Bitcoin Whitepaper and described it as: \"a purely peer-to-peer version of electronic cash, which would allow online payments to be sent directly from one party to another without going through a financial institution.\"",
            "description": "Long description of the currency"
          },
          "bio_keywords": {
            "type": "string",
            "example": "BTC,Bitcoin",
            "description": "Keywords related to the currency"
          },
          "hq_location": {
            "type": "string",
            "example": "None",
            "description": "Headquater location of the development team"
          },
          "vertical_types": {
            "type": "array",
            "example": "['governance','health care']",
            "description": "Vertical types which the currency belongs to",
            "items": {
              "$ref": "#/components/schemas/vertical-types"
            }
          },
          "links": {
            "type": "array",
            "example": "[{'type': 'website', 'url': 'http://www.bitcoin.org'},{'type': 'website', 'url': 'http://www.ethereum.org'}]",
            "description": "Link related to the currency",
            "items": {
              "$ref": "#/components/schemas/links"
            }
          },
          "communities": {
            "type": "array",
            "example": "[{'type': 'twitter', 'url': 'http://www.twitter.com/bitcoin'},{'type': 'twitter', 'url': 'http://www.twitter.com/ethereum'}]",
            "description": "Communities for the currency",
            "items": {
              "$ref": "#/components/schemas/communities"
            }
          }
        }
      },
      "links": {
        "title": "links",
        "type": "object",
        "description": "Returns links related to the currency",
        "x-examples": {},
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "website",
              "email",
              "explorer",
              "whitepaper",
              "wallet",
              "github",
              "announcement",
              "bounty-program"
            ],
            "example": "website",
            "description": "Link type"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "http://www.bitcoin.com",
            "description": "Link URL"
          }
        }
      },
      "communities": {
        "title": "communities",
        "type": "object",
        "description": "Return the communities related to the currency",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "discord",
              "telegram",
              "facebook",
              "forum",
              "medium",
              "slack",
              "twitter",
              "reddit",
              "bitcoin-talk",
              "instagram"
            ],
            "example": "twitter"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "http://www.twitter.com/binance"
          }
        }
      },
      "vertical-types": {
        "title": "vertical-types",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": "34"
          },
          "vertical_type": {
            "type": "string",
            "example": "Governance"
          }
        }
      }
    },
    "securitySchemes": {
      "API Key Query": {
        "name": "api_key",
        "type": "apiKey",
        "in": "query"
      },
      "API Key  Header": {
        "name": "X-API-KEY",
        "type": "apiKey",
        "in": "header"
      }
    }
  }
}